.div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

.title {
    text-align: center;
}

.content {
    text-align: center;
}

.image {
    text-align: center;
}

.submit {
    text-align: center;
}

input {
    text-align: center;
}

body {
    background-color: lightblue;
}

form {
    border-color: black;
}