/*
FeedPost.js
*/
.postText:focus {
  outline: none;
}

#module {
  width: 660px;
}

#show a.collapsed:after {
  content: "View more comments";
  color: rgb(44, 127, 252);
  font-weight: 500;
}

#show a:not(.collapsed):after {
  content: "Close ";
  color: rgb(44, 127, 252);
  font-weight: 500;
}

#show a:hover {
  text-decoration: none;
}
/*dyanmically add name for dropdownmenus generated in feedpost.js*/

#module [id^="id-"].collapse:not(.show) {

    display: block;
    height: 1.49em;
    overflow: hidden;
}

#module [id^="id-"].collapsing {
    height: 1.49em;
}

/*
PostComment.js
*/

#deleteButton:hover {
    color: rgb(219, 12, 5);
  }


/* 
Add filters to img's
*/

/*
original filter
*/
.filter_original {
  filter: none;
}

/*
grayscale filter
*/
.filter_grayscale25 {
  filter: grayscale(25%);
}

.filter_grayscale50 {
  filter: grayscale(50%);
}

.filter_grayscale75 {
  filter: grayscale(75%);
}

.filter_grayscale100 {
  filter: grayscale(100%);
}

.filter_blur {
  filter: blur(1px);
}

/*
invert filter
*/
.filter_invert25 {
  filter: invert(25%);
}

.filter_invert50 {
  filter: invert(50%);
}

.filter_invert75 {
  filter: invert(75%);
}

.filter_invert100 {
  filter: invert(100%);
}

/*
brightness filter
*/
.filter_brightness25{
  filter: brightness(25%);
}

.filter_brightness50{
  filter: brightness(50%);
}

.filter_brightness75{
  filter: brightness(75%);
}

/*
opacity filter
*/
.filter_opacity{
  filter: opacity(50%);
}

/*
hue-rotate filter
*/
.filter_hue-rotate90{
  filter: hue-rotate(90deg);
}
.filter_hue-rotate180{
  filter: hue-rotate(180deg);
}
.filter_hue-rotate270{
  filter: hue-rotate(270deg);
}
.filter_hue-rotate360{
  filter: hue-rotate(300deg);
}
/*
opacity filter
*/
.filter_opacity25{
  filter: opacity(25%)
}
.filter_opacity50{
  filter: opacity(50%)
}
.filter_opacity75{
  filter: opacity(75%)
}
