/*
FeedPost.js
*/
.postText:focus {
  outline: none;
}

#module {
  width: 660px;
}

#show a.collapsed:after {
  content: "View more comments";
  color: rgb(44, 127, 252);
  font-weight: 500;
}

#show a:not(.collapsed):after {
  content: "Close ";
  color: rgb(44, 127, 252);
  font-weight: 500;
}

#show a:hover {
  text-decoration: none;
}
/*dyanmically add name for dropdownmenus generated in feedpost.js*/

#module [id^="id-"].collapse:not(.show) {

    display: block;
    height: 1.49em;
    overflow: hidden;
}

#module [id^="id-"].collapsing {
    height: 1.49em;
}

/*
PostComment.js
*/

#deleteButton:hover {
    color: rgb(219, 12, 5);
  }


  /* 
  Add filters to img's
  */

  .filter_original {
    filter: none;
  }

  .filter_grayscale {
    filter: grayscale(100%);
  }

  .filter_blur {
    filter: blur(1px);
  }

  .filter_invert {
    filter: invert(100%);
  }